
@{
    ViewBag.Title = "Javascript";
}

<h2>Exemplos Javascript e JQuery</h2>

<ul>
    <li>@Html.ActionLink("Exemplo 01 - Javascript invasivo (obtrusivo)", "Exemplo01")</li>
    <li>@Html.ActionLink("Exemplo 02 - Eventos Javascript (unobtrusivo)", "Exemplo02")</li>
    <li>@Html.ActionLink("Exemplo 03 - Função anônima e arrow function", "Exemplo03")</li>
    <li>@Html.ActionLink("Exemplo 04 - JQuery (parte 1)", "Exemplo04")</li>
    <li>@Html.ActionLink("Exemplo 05 - JQuery (parte 2)", "Exemplo05")</li>
</ul>


